.post-btn{
  text-align: center;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 20px 25px;
  display: flex;
  a{
    display: inline-block;
    font-size: 25px;
    margin-bottom: 5px;
    svg {
      margin-top: 5px;
      font-size: 30px;
      filter: $dshadow-red;
    }
  }

}
.post-btn:hover {
  text-shadow: $shadow-line;
  box-shadow: $shadow-line;
  svg {
    filter: $dshadow-white;
    color: $red;
 }
}
@media (max-width: $media_width_sp) {
  .post-btn {
    display: none;
  }
}
