.password-text {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #000;
  text-shadow: none;
  margin-bottom: 15px;
}
.blank {
  height: 100px;
}
@media (max-width: $media_width_sp) {
  .password-text {
    font-size: 16px;
  }
}
